extends ../shared/template
block content 
    h2 #{user.email}'s Messages
    #unread #{ (unread) ? 'You have ' + unread + ' unread message(s)' : 'You have no unread messages.'}
    table.table
      tr
        th From
        th Date
        th Message
          each message in messages
            tr(style='font-weight: #{ (message.isRead) ? "normal" : "bold"};')
              td= message.from
              td= message.date
              td: a(href='/message/#{message._id}/view')= message.body.substring(0, 10) + '....'

